name: build and release

on:
  push:
    branches-ignore:
      - main
    tags-ignore:
      - main
    tags:
      # - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout
        uses: actions/checkout@v4

      # - name: Get version
      #   id: get_version
      #   run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      # - name: Test version
      #   run: |
      #     echo ${{ steps.get_version.outputs.VERSION }}
      #     echo ${{ github.ref }}

      -
        name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Inspect builder
        run: |
          echo "Name:      ${{ steps.buildx.outputs.name }}"
          echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
          echo "Status:    ${{ steps.buildx.outputs.status }}"
          echo "Flags:     ${{ steps.buildx.outputs.flags }}"
          echo "Platforms: ${{ steps.buildx.outputs.platforms }}"


      - name: Build dockerfile (with no push)
        run: |
            # ver="${{ steps.get_version.outputs.VERSION }}"
            ver="master"
            echo "${ver}"
            ./buildx.sh --version ${ver} --push false --repo ${{ secrets.DOCKER_USERNAME }} --image-name passh-static-binaries
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build dockerfile (with push)
        run: |
            echo "Build dockerfile (with push)"
            # ver="${{ steps.get_version.outputs.VERSION }}"
            ver="master"
            echo "${ver}"
            ./buildx.sh --version ${ver} --push true --repo ${{ secrets.DOCKER_USERNAME }} --image-name passh-static-binaries


      - name: docker logout
        shell: bash
        run: |
          docker logout
